<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}


<style>
  img{

    width: 400px;
    height: 400px;
    object-fit: cover; 
  }
</style>

<body>
  
  {% include 'navbar.html' %} 


<div class="container">
    <div class="row">
{% for product in koleksion %}

        <div class="col-12 col-md-2 col-lg-4 d-flex">
          <div class="card flex-fill">
            <img src="{{product.image.url}}" class="card-img-top" alt="..." class="img-fluid d-block" class="card-img-top" alt="..." style="width: 400px;height: 400px; object-fit: cover;">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
              <h5 class="card-title">{{product.title}}</h5>
              <p>{{product.description}}</p>
           
            </div>
            <div>

                <p>{{product.actual_price}} ALL</p>
                <a href="{% url 'detailpage' product.pk %}" class="btn btn-secondary w-100" style="background-color: #d63384; color: white; font-weight: 600; text-transform: uppercase; letter-spacing: 1px;text-decoration:none;">SEE MORE</a>
                <a href="{% url 'add_to_cart' pk=product.pk %}" style="background-color: green; color: white; text-decoration:none; font-weight: 600; text-transform: uppercase; letter-spacing: 1px;">Add to Cart</a>

            </div>
            </div>
          </div>
        </div>
        {% endfor %}
   
    </div>
</div>

  
</body>
{% endblock %}