{% load static %}

<!-- Footer -->
<footer class="text-dark py-4" style="background-color: #fdf2f8;">
    <div class="container">
        <div class="row align-items-center">
            <!-- Logo Section -->
            <div class="col-12 col-md-3 text-center mb-3 mb-md-0">
                <img src="{% static 'image/logo2.png' %}" alt="Brand Logo" class="img-fluid rounded-circle shadow" style="width: 120px; height: auto;">
            </div>

            <!-- Address Section -->
            <div class="col-12 col-md-5 text-center text-md-start">
                <h5 class="mb-3 fw-bold"><i class="fa-solid fa-map-marker-alt text-danger"></i> Our Locations</h5>
                <ul class="list-unstyled">
                    <li><i class="fa-solid fa-location-dot text-danger"></i> <a href="https://maps.app.goo.gl/dB78hXY1xP1aN97q9" class="text-dark text-decoration-none">Rruga "Jakov Mile", Fier</a></li>
                    <li><i class="fa-solid fa-location-dot text-danger"></i> <a href="https://maps.app.goo.gl/Etk198oJebivkFc3A" class="text-dark text-decoration-none">Rruga "Xoxi Andoni", Fier</a></li>
                    <li><i class="fa-solid fa-location-dot text-danger"></i> <a href="https://maps.app.goo.gl/j5S1ergXnndoTSgq8" class="text-dark text-decoration-none">Sh8 km 18, Roskovec 9302</a></li>
                </ul>
            </div>

            <!-- Social Links Section -->
            <div class="col-12 col-md-4 text-center text-md-start">
                <h5 class="mb-3 fw-bold"><i class="fa-solid fa-share-nodes text-primary"></i> Connect With Us</h5>
                <div class="d-flex justify-content-center justify-content-md-start gap-3">
                    <a href="https://www.instagram.com/hyka.outlet/" target="_blank" class="text-danger fs-4"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.facebook.com/HykaOutlet/" target="_blank" class="text-primary fs-4"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.tiktok.com/@xhes122/" target="_blank" class="text-dark fs-4"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://wa.me/+355683102476/" target="_blank" class="text-success fs-4"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4 border-dark">
        <p class="text-center small mb-0 text-dark">© 2025 Firma Hyka. All Rights Reserved.</p>
    </div>
</footer>
